<!-- <div class="container my-4">
  <h4>Make your home stylish</h4>
  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card text-center">
        <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/headphone/j/e/t/black-earbuds-with-premium-quality-sound-hectic-original-imahdbptpvnn2hyy.jpeg?q=60" class="card-img-top p-3" alt="">
        <div class="card-body">
          <h6 class="card-title">True Wireless</h6>
          <p class="text-success">Min. 50% Off</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card text-center">
        <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/headphone/w/9/v/soulbuds-100-hours-playtime-wireless-neckband-earphone-ucool-original-imah6n7zedfxa99p.jpeg?q=60" class="card-img-top p-3" alt="">
        <div class="card-body">
          <h6 class="card-title">Neckband</h6>
          <p class="text-success">Min. 50% Off</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card text-center">
        <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/watch/z/u/6/1-arabic-dial-black-watch-for-men-sabr-men-original-imahhymhkxc5adzx.jpeg?q=60" class="card-img-top p-3" alt="">
        <div class="card-body">
          <h6 class="card-title">Wrist Watches</h6>
          <p class="text-success">Min. 50% Off</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card text-center">
        <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/backpack/p/q/i/t-grey-t-grey-laptop-backpack-am-creation-original-imah5ufemeqgwpv7.jpeg?q=60" class="card-img-top p-3" alt="">
        <div class="card-body">
          <h6 class="card-title">Laptop Bags</h6>
          <p class="text-success">Min. 50% Off</p>
        </div>
      </div>
    </div>

  </div>
</div> -->



<div class="container my-4">
  <div class="row">

    <div class="col-md-4">
      <h5 class="mb-3">Best Value Deals</h5>
      <div class="row">
        <div class="col-6 mb-3">
          <div class="card text-center ">
            <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/headphone/j/e/t/black-earbuds-with-premium-quality-sound-hectic-original-imahdbptpvnn2hyy.jpeg?q=60" class="card-img-top p-3" alt="True Wireless">
            <div class="card-body">
              <h6 class="card-title">True Wireless</h6>
              <p class="text-success">Min. 50% Off</p>
            </div>
          </div>
        </div>

        <div class="col-6 mb-3">
          <div class="card text-center">
            <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/headphone/w/9/v/soulbuds-100-hours-playtime-wireless-neckband-earphone-ucool-original-imah6n7zedfxa99p.jpeg?q=60" class="card-img-top p-3" alt="Neckband">
            <div class="card-body">
              <h6 class="card-title">Neckband</h6>
              <p class="text-success">Min. 50% Off</p>
            </div>
          </div>
        </div>

        <div class="col-6 mb-3">
          <div class="card text-center">
            <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/headphone/w/9/v/soulbuds-100-hours-playtime-wireless-neckband-earphone-ucool-original-imah6n7zedfxa99p.jpeg?q=60" class="card-img-top p-3" alt="Laptop Bag">
            <div class="card-body">
              <h6 class="card-title">Laptop Bag</h6>
              <p class="text-success">Min. 70% Off</p>
            </div>
          </div>
        </div>

        <div class="col-6 mb-3">
          <div class="card text-center">
            <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/backpack/p/q/i/t-grey-t-grey-laptop-backpack-am-creation-original-imah5ufemeqgwpv7.jpeg?q=60" class="card-img-top p-3" alt="Wrist Watch">
            <div class="card-body">
              <h6 class="card-title">Wrist Watch</h6>
              <p class="text-success">Min. 90% Off</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h5 class="mb-3">Make your home stylish</h5>
      <div class="row">
        <div class="col-6 mb-3">
          <div class="card text-center">
            <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/massage-chair/z/g/w/mz24-zero-gravity-3d-full-body-home-massager-with-bluetooth-original-imagx7kcdkgdmjbc.jpeg?q=60" class="card-img-top p-3" alt="Massage Chair">
            <div class="card-body">
              <h6 class="card-title">Massage Chair</h6>
              <p class="text-success">Min. 50% Off</p>
            </div>
          </div>
        </div>

        <div class="col-6 mb-3">
          <div class="card text-center">
            <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/home-temple/s/x/d/t1white-hoodwin-original-imah99vgphekyteg.jpeg?q=60" class="card-img-top p-3" alt="Home Temple">
            <div class="card-body">
              <h6 class="card-title">Home Temple</h6>
              <p class="text-success">Min. 50% Off</p>
            </div>
          </div>
        </div>

        <div class="col-6 mb-3">
          <div class="card text-center">
            <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/shopsy-collapsible-wardrobe/y/6/i/280-carbon-steel-570-1-4-at-4-firozi-attache-firozi-730-original-imahek4qcjkjzuvh.jpeg?q=60" class="card-img-top p-3" alt="Wardrobe">
            <div class="card-body">
              <h6 class="card-title">Wardrobe</h6>
              <p class="text-success">Min. 50% Off</p>
            </div>
          </div>
        </div>

        <div class="col-6 mb-3">
          <div class="card text-center">
            <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/shoe-rack/d/7/k/5-12-0-4-black-6-plexus-enterprises-black-5-original-imahgbafmytzbzbh.jpeg?q=60" class="card-img-top p-3" alt="Shoe Rack">
            <div class="card-body">
              <h6 class="card-title">Shoe Rack</h6>
              <p class="text-success">Min. 50% Off</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h5 class="mb-3">Tech Essentials</h5>
      <div class="row">
        <div class="col-6 mb-3">
          <div class="card text-center">
            <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/shoe/q/w/y/6-rng-854-grey-40-bruton-grey-original-imahbhzs8zgnexrz.jpeg?q=60" class="card-img-top p-3" alt="Earbuds">
            <div class="card-body">
              <h6 class="card-title">Men's shoes</h6>
              <p class="text-success">Min. 40% Off</p>
            </div>
          </div>
        </div>

        <div class="col-6 mb-3">
          <div class="card text-center">
            <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/shopsy-sandal/y/y/p/8-vy-ss-555-shokiya-pink-original-imahc5gndm6h4jhy.jpeg?q=60" class="card-img-top p-3" alt="Powerbank">
            <div class="card-body">
              <h6 class="card-title">Women's Flats</h6>
              <p class="text-success">Min. 50% Off</p>
            </div>
          </div>
        </div>

        <div class="col-6 mb-3">
          <div class="card text-center">
            <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/watch/o/h/f/1-t-800-smart-watch-1-99-touch-display-chg-boys-girls-original-imahgqubqhm5aggh.jpeg?q=60" class="card-img-top p-3" alt="Headphones">
            <div class="card-body">
              <h6 class="card-title">Wrist Watches</h6>
              <p class="text-success">Min. 45% Off</p>
            </div>
          </div>
        </div>

        <div class="col-6 mb-3">
          <div class="card text-center">
            <img src="https://rukminim1.flixcart.com/image/420/420/xif0q/rucksack/0/8/k/travel-trekking-mountaineering-bag-rucksack-70-l-black-13-trk-original-imah8gd4vhknhsnt.jpeg?q=60" class="card-img-top p-3" alt="Speaker">
            <div class="card-body">
              <h6 class="card-title">Laptop Bags</h6>
              <p class="text-success">Min. 60% Off</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
