  
<table class ="table table-bordered border border-3">
    <thead>
        <tr class ="border border-3">
            <th>EId</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Status</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for(emp of employee;track emp.eId){
            <tr class ="border border-3">
            <td>{{emp.eId}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.sal}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.dept}}</td>
            <td>{{emp.status}}</td>
            <td>{{emp.role}}</td>
            <td>
                <button class="btn btn-sm btn-danger w-100" (click)="delete(emp.eId)"><fa-icon [icon]="faTrash"></fa-icon></button>
              
            </td>
        </tr>
        }
        
    </tbody>
</table>
