<div class="containers top-deals my-3">
    <div class="row">
        <div class="col">
            <div class = "card text-center align-items-center h-100 p-4">
                <img src="https://rukminim2.flixcart.com/image/240/240/xif0q/projector/4/x/3/atom-3x-native-fhd-1080p-4k-support-13-0-android-projector-300-original-imahbxepqgqurfh7.jpeg?q=60"
                alt = "">
                <div class="card-body">
                    <h5 class = "card-title">Projector</h5>
                    <p class = "card-text">From $60</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class = "card text-center align-items-center h-100 p-4">
                <img src="https://rukminim2.flixcart.com/image/96/96/kcf4lu80/speaker/mobile-tablet-speaker/h/u/f/srs-xb23-sony-original-imaftk66vjxp86h5.jpeg?q=90"
                alt = "">
                <div class="card-body">
                    <h5 class = "card-title">Mobile Accessories</h5>
                    <p class = "card-text">From $70</p>
                </div>
            </div>
            
        </div>
        <div class="col">
            <div class = "card text-center align-items-center h-100 p-4">
                <img src="https://rukminim2.flixcart.com/image/110/110/xif0q/monitor/w/i/f/-original-imahagy2cefszqgy.jpeg?q=90"
                alt = "">
                <div class="card-body">
                    <h5 class = "card-title">Monitors</h5>
                    <p class = "card-text">From $77</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class = "card text-center align-items-center h-100 p-4">
                <img src="https://rukminim2.flixcart.com/image/110/110/xif0q/dslr-camera/o/5/9/autofocus-16x-digital-zoom-rechargeable-camera-48-4k-ultra-hd-original-imahcy7gnjqpdqum.jpeg?q=90"
                alt = "">
                <div class="card-body">
                    <h5 class = "card-title">Top Cameras</h5>
                    <p class = "card-text">From $90</p>
                </div>
            </div>
            
        </div>
        <div class="col">
            <div class = "card text-center align-items-center h-100 p-4">
                <img src="https://rukminim2.flixcart.com/image/110/110/xif0q/smartwatch/5/v/s/-original-imagxrhetgfuebnn.jpeg?q=90"
                alt = "">
                <div class="card-body">
                    <h5 class = "card-title">Fastrack Watches</h5>
                    <p class = "card-text">From $60</p>
                </div>
            </div>
            
        </div>
    </div>
</div>


