
<h3 class="text-center">Product List</h3>
<div class = "border border-2 rounded-2 m-2 p-2">
-Read data from a static array and display list of products in cards<br>
  https://fakestoreapi.com/products<br>
-use font-awesome to display any icons (star icon for rating)<br>
-implement pagination<br>
-implement search functionality (Search By Title)<br>
-implement sort functionality (Price Asc, Price desc)<br>
</div>


<div class="container">
    <div>
        <select [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
            @for(category of categoryArr;track $index){
                <option>{{category}}</option>
            }
        </select>
    </div>

    <div class="d-flex align-items-center mt-3">
    <div>
        <input 
        type="search" 
        class="form-control d-inline w-auto" 
        [(ngModel)]="searchString" 
        placeholder="Search"  appTextonly>
        <button class="btn btn-primary mx-2" (click)="search()">Search</button>
    </div>

    <div class="ms-3">
        <button class="btn btn-info mx-2" (click)="asc()">ASC</button>
        <button class="btn btn-warning mx-2" (click)="dsc()">DSC</button>
    </div>
    </div>

    <!-- <div class="d-flex align-items-center mt-3">
        <input type="search" class="mt-3" [(ngModel)]="searchString" >
        <button class="btn btn-primary mx-2" (click)="search()">Search</button>
    </div>
     <div class="ms-3">
        <button class="btn btn-primary mx-2" (click)="asc()">ASC</button>
        <button class="btn btn-secondary mx-2" (click)="dsc()">DSC</button>
    </div> -->
    
    <div class="row">
    @for(product of filteredProducts | paginate : {itemsPerPage:6,currentPage:p};track $index){
        <div class="col mt-5" >
        <div class="card text-center" style="width: 10rem">
        <img src="{{ product.image }}" class="card-img-top" style="width: 10rem" />
        <div class="card-body text-center" appZoomin>
            <h5 class="card-title text-truncate"><!--<fa-icon [icon]="faTags"></fa-icon>-->{{ product.category }}</h5>
            <p class="card-text text-truncate"><fa-icon [icon]="faInfoCircle"></fa-icon>{{ product.description }}</p>
            <p class="card-text">{{ product.title }}<fa-icon [icon]="faBoxOpen"></fa-icon></p>
            <p class="card-text">Price: <fa-icon [icon]="faDollarSign"></fa-icon> {{ product.price }}</p>
            <p class="card-text">Ratings: {{ product.rating.rate }}<fa-icon [icon]="faStar"></fa-icon> </p>
        </div>
        </div>
        </div>
    }
  </div>
  <div class="row">
    <div class="col-sm-6 mt-4">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>