table {
  width: 100%;
  table-layout: auto; 
  border-collapse: collapse;
}

th, td {
  /* text-align: center; */
  padding: 8px;
  vertical-align: middle;
}

.btn{width: 5rem; 
height: 2rem;
 text-align: center;
 vertical-align: middle;}
